@import "correct-mat-input";

:host {
  height: fit-content;
  width: 100%;
}

.filter-container {
  display: flex;
  height: fit-content;
  align-items: center;

  padding: 1.5rem 0;
}

app-input ::ng-deep input {
  width: 200px;
}

.country-filter, .price-filter {
  margin-left: 1.5rem;
}
