@import "variables";

input {

  background-color: inherit;
  color: $main-text-color;

  transition: border-color $animation-time;

  &:focus {
    outline: none;

    border-color: $input-border-color;
  }
}
