<mat-form-field
  *ngIf="useMatInput"
  appearance="fill"
>
  <mat-label>{{placeholder}}</mat-label>
  <input
    #inputMatElement
    matInput
    class="mat-input"
    [(ngModel)]="value"
    [ngModelOptions]="{standalone: true}"
    [type]="type"
    (ngModelChange)="onValueChange(value)"
    (focus)="focused.emit()"
    [errorStateMatcher]="errorStateMatcher"
  >

  <mat-error>
    {{inputError.errorText}}
  </mat-error>

</mat-form-field>

<input
  #inputElement
  *ngIf="!useMatInput"
  class="not-mat-input"
  [placeholder]="placeholder"
  [type]="type"
  [class.red-border]="inputError.hasError"
  (input)="onValueChange(inputElement.value)"
  (focus)="focused.emit()"
>

