<section class="left">

  <img src="../../assets/img/door.png" alt="car-part">

</section>

<section class="right block">

  <span>Team: {{productionInfo.teamId}}</span>
  <span>Workers: {{productionInfo.workersCount}}</span>
  <span>Today manufactured: {{productionInfo.todayManufactured}}</span>
  <span>Yesterday manufactured: {{productionInfo.yesterdayManufactured}}</span>
  <span>Last week manufactured: {{productionInfo.lastWeekManufactured}}</span>
  <span>Last month manufactured: {{productionInfo.lastMonthManufactured}}</span>

</section>
