<section class="block current-balance">

  <div>Current balance is
    <span class="money">{{balance}}$</span>
  </div>

</section>

<section class="block form-holder">

  <h3>Budget request</h3>

  <app-input
    placeholder="How much?"
    type="number"
    [clearOn]="clearEmitter"
    [inputError]="amountError"
    (focused)="amountInputFocused()"
    (valueChanged)="onBudgetRequestChange($event)"
  ></app-input>

  <label for="textarea">Explain why your department needs extra budget</label>
  <textarea
    #textarea
    id="textarea"
    placeholder="Write down your answer here"
    (focus)="reasonTextareaFocused()"
  ></textarea>

  <mat-form-field
    class="reset-mat-form-field"
    appearance="fill"
  >

    <input
      matInput
      class="do-not-show"
      [(ngModel)]="mock"
      [ngModelOptions]="{standalone: true}"
      [errorStateMatcher]="errorStateMatcher"
    >

    <mat-error>
      {{reasonError.errorText}}
    </mat-error>

  </mat-form-field>

  <app-button
    text="Submit"
    (clicked)="submit()"
  ></app-button>

</section>
