<div class="login-container block">

  <header>LOGIN</header>

  <div class="input-container">
    <app-input
      placeholder="Enter username"
      [inputError]="usernameError"
      [withDebounce]="false"
      (valueChanged)="username = $event"
      (focused)="usernameFocused()"
      (keydown)="handleEnterClick($event)"
    ></app-input>

    <app-input
      placeholder="Enter password"
      type="password"
      [inputError]="passwordError"
      [withDebounce]="false"
      (valueChanged)="password = $event"
      (focused)="passwordFocused()"
      (keydown)="handleEnterClick($event)"
    ></app-input>
  </div>

  <app-button
    text="Login"
    (clicked)="login()"
  ></app-button>

</div>
