:host {
  width: 100%;
  height: 100%;

  display: flex;
}

.left {
  width: 50%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 200px;
  height: 200px;

  border-radius: 50%;
}

.right {
  display: flex;
  flex-direction: column;

  padding: 2rem 0;
}

.right span {
  margin-bottom: 1rem;
}
