@import "global";
@import "variables";

:host {
  width: 100%;
  height: 100%;
  display: flex;

  padding: 2rem;
  background-color: $main-bg-color;
}

.block {
  width: 100%;
  height: 100%;
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

span {
  margin-bottom: 1.5rem;
}

.scale-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0 3rem;

  overflow-y: auto;
}

.general-production-info {

  margin-bottom: 2rem;

  app-dropdown:first-child {
    margin-right: 1rem;
  }
}

app-team-production {
  margin-bottom: 3rem;
}

mat-icon {
  cursor: pointer;
  position: absolute;
  top: 50%;

  stroke: $light-sky-blue;

  &.disabled {
    stroke: $input-bg-color;
  }
}

.left-icon {
  transform: rotate(180deg);
  left: 2rem;
}

.right-icon {
  right: 2rem;
}
