<section class="block">

  <span class="big-bold">Market</span>

  <div class="scale-container">

    <div
      class="general-production-info">
      <!-- todo era make dropdown and arrow to left and right -->

      <app-dropdown
        label="Factory"
        [isMultiple]="false"
        [getId]="getId"
        [getName]="getName"
        [elements]="factoriesToShow"
        [selectedElementId]="selectedFactoryIdToChild"
        (valueChanged)="onFactoryChange($event)"
      ></app-dropdown>

      <app-dropdown
        label="Department"
        [isMultiple]="false"
        [getId]="getId"
        [getName]="getName"
        [elements]="departmentsToShow"
        [selectedElementId]="selectedDepartmentIdToChild"
        (valueChanged)="onDepartmentChange($event)"
      ></app-dropdown>

    </div>

    <app-team-production
      *ngFor="let prodInfo of productionInfo"
      [productionInfo]="prodInfo"
    >
    </app-team-production>
  </div>

</section>
