@import "global";

:host {
  width: 100%;
  height: 100%;
  display: flex;

  padding: 2rem;
  background-color: $main-bg-color;
}

.block {
  width: 100%;
  height: 100%;
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

span {
  margin-bottom: 1.5rem;
}

.scale-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-right: 1rem;

  overflow-y: auto;
}

app-team-production {
  margin-bottom: 3rem;
}
