<section class="top">
  <div
    *ngIf="factoryInfo"
    class="factory-info block"
  >
    <div class="factory-name">{{factoryInfo.name}}</div>

    <div class="factory-body">
      <span>Director:</span>
      <span>{{factoryInfo.director}}</span>

      <span>Build year:</span>
      <span>{{factoryInfo.year}}</span>

      <span>Workers:</span>
      <span>{{factoryInfo.workersCount}}</span>

      <span>Departments:</span>
      <span>{{factoryInfo.departmentCount}}</span>

    </div>

    <span
      *ngIf="canShowDepartmentsLink"
      class="link"
      (click)="goToDepartments()"
    >
      See all departments
    </span>

    <!-- empty span as grid element -->
    <span *ngIf="!canShowDepartmentsLink">
    </span>

  </div>

  <div class="block image-holder">
    <mat-icon
      class="left-icon"
      svgIcon="right"
    >
    </mat-icon>

    <img
      src="https://time.kz/files/000/009/we9qcHT897.jpg"
      alt="factory"
    >

    <mat-icon
      class="right-icon"
      svgIcon="right"
    >
    </mat-icon>

  </div>
</section>

<section #map
         class="map block"
></section>
