<section
  *ngIf="company"
  class="block top"
>

  <div>
    <span class="big-bold">{{company.name}}</span>
  </div>

  <div class="company-body">
    <span>Director:</span>
    <span>{{company.directorName}}</span>

    <span>Workers:</span>
    <span>{{company.workerCount}}</span>

    <span>Factories:</span>
    <span>{{company.factoryCount}}</span>

  </div>

</section>

<section class="block bottom">
  <span class="big-bold">Factories</span>

  <app-table
    [headers]="headers"
    [columnNames]="columnNames"
    [rows$]="factories$"
    (rowClicked)="handleFactoryClick($event)"
  ></app-table>

</section>
