<span
  class="title"
  [class.focused]="isFocused"
>
  {{title}}
</span>

<mat-form-field appearance="fill">
  <mat-label>Min</mat-label>
  <input
    matInput
    type="number"
    [(ngModel)]="range.min"
    [ngModelOptions]="{standalone: true}"
    [min]="minValue"
    [max]="maxValue"
    (ngModelChange)="onMinChange()"
    (focus)="isFocused = true"
    (focusout)="isFocused = false"
  >
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Max</mat-label>
  <input
    matInput
    type="number"
    [(ngModel)]="range.max"
    [ngModelOptions]="{standalone: true}"
    [min]="minValue"
    [max]="maxValue"
    (ngModelChange)="onMaxChange()"
    (focus)="isFocused = true"
    (focusout)="isFocused = false"
  >
</mat-form-field>
