<span class="dialog-title">{{material.name}}</span>

<section>

  <apx-chart
    *ngIf="chartOptions"
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [labels]="chartOptions.labels"
    [responsive]="chartOptions.responsive"
  ></apx-chart>

  <div
    *ngIf="priceInfo"
    class="right-section"
  >
    <span>Min cost in market (kg): {{this.priceInfo.min}}$</span>
    <span>Max cost in market (kg): {{this.priceInfo.max}}$</span>
    <span>Avg cost in market (kg): {{this.priceInfo.avg}}$</span>
    <app-button
      text="Go to market"
      (clicked)="goToMarket()"
    ></app-button>
  </div>

</section>
