@import "src/assets/global";
@import "src/assets/variables";

:host {
  width: 100%;
  height: 100%;
  display: flex;

  padding: 2rem;
  background-color: $main-bg-color;
}

.block {
  width: 100%;
  height: 100%;
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.big-bold {
  margin-bottom: 1.5rem;
}

.content {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.filter-container {
  width: 100%;
  flex: 1;

  display: flex;
}

.dropdowns-container-with-title {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    font-size: 18px;
    font-weight: bold;
  }
}

.dropdowns-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.buttons-container {
  display: flex;
  justify-content: center;
  width: 100%;

  app-button:first-child {
    margin-right: 1rem;
  }
}

app-button {
  width: 200px;
}
