<mat-form-field appearance="fill">

  <mat-label>{{label}}</mat-label>

  <mat-select
    [(ngModel)]="selectedElementId"
    [ngModelOptions]="{standalone: true}"
    [multiple]="isMultiple"
    [errorStateMatcher]="errorStateMatcher"
    [disabled]="disabled"
    (valueChange)="onValueChange($event)"
  >
    <app-input
      placeholder="Search..."
      [useMatInput]="false"
      (valueChanged)="onSearchChange($event)"
    ></app-input>

    <div
      *ngIf="shownElements?.length === 0"
      class="no-element"
    >
      {{emptyMessage}}
    </div>

    <!-- this mat option is to make mat select visible, when there is no shown elements -->
    <mat-option class="non-visible"></mat-option>

    <mat-option
      *ngFor="let element of shownElements"
      [value]="getId(element)"
    >
      {{getName(element)}}
    </mat-option>
  </mat-select>

  <mat-error>
    {{inputError.errorText}}
  </mat-error>

</mat-form-field>
