<mat-form-field appearance="fill">

  <mat-label>{{label}}</mat-label>

  <mat-select
    multiple
    (valueChange)="onValueChange($event)"
  >
    <app-input
      placeholder="Search..."
      [useMatInput]="false"
      (valueChanged)="onSearchChange($event)"
    ></app-input>

    <div
      *ngIf="shownElements?.length === 0"
      class="no-element"
    >
      No element can be found
    </div>

    <!-- this mat option is to make mat select visible, when there is no shown elements -->
    <mat-option class="non-visible"></mat-option>

    <mat-option
      *ngFor="let element of shownElements"
      [value]="getId(element)"
    >
      {{getName(element)}}
    </mat-option>
  </mat-select>

</mat-form-field>
