<section class="block table-section">

  <h1>Market</h1>

  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon svgIcon="filter"></mat-icon>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-filter
      [filterMetaInfo]="filterMetaInfo"
      (filterChanged)="onFilterChange($event)"
    ></app-filter>
  </mat-expansion-panel>

  <app-table
    [headers]="['Icon', 'Material name', 'Country', 'Price']"
    [rows$]="materials$"
    [columnNames]="['icon', 'name', 'country', 'price']"
    [isMatIcon]="isMatIcon"
    [isMoney]="isMoney"
    (rowClicked)="onRowClick($event)"
  ></app-table>

</section>
