@import "variables";

:host {
  width: 100%;
  height: 100%;

  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 0.5rem 0.5rem 0.5rem 2rem;
}

.table-header {
  display: flex;
  justify-content: space-between;

  cursor: pointer;
}

th span {
  display: flex;
  width: 100%;
  color: $main-text-color;
}

tbody tr {

  cursor: pointer;
  transition: background-color $animation-time;

  &:hover {
    background-color: #e5e5e5;
  }
}

tr {
  border-bottom: 1px solid #f1f1f4;
}

tr td {
  text-align: start;
  color: $secondary-text-color;
  letter-spacing: .01em;
  font-size: 13px;
  font-weight: 200;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 60px;
}

@mixin background-gradient {
  background-image: linear-gradient(90deg, $skeleton-loading-base-color 0px, $skeleton-loading-shine-color 40px, $skeleton-loading-base-color 80px);
}

.loading-column {
  width: 100px;
  height: 16px;
  border-radius: 10px;

  @include background-gradient;
  animation: shine-lines $skeleton-loading-animation-duration infinite linear;
}

@keyframes shine-lines {

  0% {
    background-position: -100px;
  }

  40%, 100% {
    background-position: 140px;
  }

}

.checkbox-container {
  padding-left: 2rem;

  display: flex;
}

.add-icon:hover {
  color: #2db64b;
}

.delete-icon:hover {
  color: red;
}

.icons-container {

  border-bottom: 1px solid #f1f1f4;

  mat-icon {
    transition: color $animation-time;
    cursor: pointer;

    margin-left: 2rem;
    margin-bottom: 1rem;
  }

}

.empty-table {
  padding: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
