<table>

  <thead>
  <tr>
    <th *ngFor="let header of headers">
      <span>{{header}}</span>
    </th>
  </tr>
  </thead>

  <tbody *ngIf="!isLoading">
  <tr
    *ngFor="let row of rows"
    (click)="onRowClick(row)"
  >
    <td *ngFor="let column of columnNames; let i = index;">
      <mat-icon
        *ngIf="isMatIcon(i); else commonColumn"
        [svgIcon]="row[column]"
      ></mat-icon>

      <ng-template #commonColumn>
        {{row[column]}}
        <span *ngIf="isMoney(i)">$</span>
      </ng-template>
    </td>
  </tr>
  </tbody>

  <tbody *ngIf="isLoading">
  <tr
    *ngFor="let row of [].constructor(7)"
  >
    <td
      *ngFor="let column of columnNames"
    >

      <div class="loading-column"></div>

    </td>
  </tr>
  </tbody>

</table>


<!--<div class="container">-->
<!--  <div class="post">-->
<!--    <div class="avatar"></div>-->
<!--    <div class="line"></div>-->
<!--    <div class="line"></div>-->
<!--  </div>-->

<!--  <div class="post">-->
<!--    <div class="avatar"></div>-->
<!--    <div class="line"></div>-->
<!--    <div class="line"></div>-->
<!--  </div>-->

<!--  <div class="post">-->
<!--    <div class="avatar"></div>-->
<!--    <div class="line"></div>-->
<!--    <div class="line"></div>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="table-loading-container">-->

<!--  <div-->
<!--    *ngFor="let row of [].constructor(10)"-->
<!--    class="loading-row"-->
<!--  >-->
<!--    <div class="loading-column"></div>-->
<!--    <div class="loading-column"></div>-->
<!--    <div class="loading-column"></div>-->
<!--    <div class="loading-column"></div>-->
<!--  </div>-->

<!--</div>-->
