<div
  *ngIf="isAdminTable"
  class="icons-container"
>

  <mat-icon
    class="add-icon"
    svgIcon="add"
    (click)="addRow()"
  ></mat-icon>

  <mat-icon
    class="delete-icon"
    svgIcon="trash"
    (click)="deleteRows()"
  ></mat-icon>

</div>

<table>

  <thead>
  <tr>

    <th *ngIf="isAdminTable"></th>

    <th *ngFor="let header of headers">
      <span>{{header}}</span>
    </th>

  </tr>
  </thead>

  <tbody *ngIf="!isLoading">
  <tr
    *ngFor="let row of rows"
    (click)="onRowClick(row)"
  >
    <td
      *ngIf="isAdminTable"
      class=""
    >
      <mat-checkbox
        (change)="checkId($event.checked, row)"
        (click)="$event.stopImmediatePropagation()"></mat-checkbox>
    </td>

    <td *ngFor="let column of columnNames; let i = index;">
      <mat-icon
        *ngIf="isMatIcon(i); else commonColumn"
        [svgIcon]="row[column]"
      ></mat-icon>

      <ng-template #commonColumn>
        {{row[column]}}
        <span *ngIf="isMoney(i)">$</span>
      </ng-template>
    </td>
  </tr>
  </tbody>

  <tbody *ngIf="isLoading">

  <tr *ngFor="let row of [].constructor(7)">

    <td *ngFor="let column of columnNames">

      <div class="loading-column"></div>

    </td>

  </tr>

  </tbody>

</table>
