<div class="form">
  <section class="left">

    <img src="../../../assets/img/avatar.jpg" alt="avatar">

    <app-button
      text="Make director of factory"
      (clicked)="onMadeFactoryDirectorClicked()"
    ></app-button>

  </section>

  <section class="right block">

    <span>Name:</span>
    <span>{{person.name}}</span>

    <span>Factory:</span>
    <div class="form-cell-value">
      <app-dropdown
        label="Factory"
        [getId]="getId"
        [getName]="getName"
        [elements]="factories"
        [isMultiple]="false"
        [selectedElementId]="person.factoryId"
        (idChanged)="onFactoryChange($event)"
      ></app-dropdown>
    </div>

    <span>Department:</span>
    <span>{{person.departmentName}}</span>

  </section>

</div>

<div class="buttons-container">

  <app-button
    text="Cancel"
    [isCancelButton]="true"
    (clicked)="cancel()"
  >
  </app-button>

  <app-button
    text="Save"
    (clicked)="save()"
  ></app-button>

</div>
