$white: #FFFFFF;
$bg-color: #222222;
$input-border-color: #E0E0E0;
$input-bg-color: #8c8c8c;
$button-bg: #2db64b;
$button-hover: #30D94EFF;
$main-text-color: #152635;
$error-color: #f69f9f;
$menu-item-hover-color: rgb(210, 210, 210);
$main-bg-color: #fafafa;
$secondary-text-color: #323c47;
$bottom-notification-border-color: #cbcbcb;
$material-purple: #7B1FA2;

$skeleton-loading-base-color: #ddd;
$skeleton-loading-shine-color: #e8e8e8;
$skeleton-loading-animation-duration: 1.6s;

$animation-time: 350ms;
