$white: #FFFFFF;
$bg-color: #222222;
$input-border-color: #E0E0E0;
$input-bg-color: #8c8c8c;
$button-bg: #2db64b;
$button-hover: #30D94EFF;
$main-text-color: #152635;
$error-color: #f69f9f;
$menu-item-hover-color: rgb(210, 210, 210);
$main-bg-color: #fafafa;

$animation-time: 350ms;
