$brand-primary: #0BC3B8;
$brand-primary-disabled: #0BC3B839;
$brand-secondary: #68BAD2;
$brand-secondary-selected: #68BAD21F;
$bg-color: #222222;
;
$white: #FFFFFF;
$black: #000000;
$header-border-color: #F1F1F4;
$menu-color: #F7F7F7;
$main-text-color: #152635;
$main-text-color-opacity: #1526350A;
$request-title-color: #323C47;
$button-color: #FD8F3B;
$button-text-color: #FE9D53;
$text-tertiary: #414453;
$input-border-color: #E0E0E0;
$input-bg-color: #8c8c8c;
$down-icon-color: #C5C7CD;
$table-bg-color: #F6F6F6;
$secondary-gray: #C7C7C7;
$gray-border-color: #EBEFF2;
$table-border-color-opacity: #211F1F0A;
$error-color: #FF3338;
$table-text-color: rgba(35, 35, 35, 0.6);
$success-color: #12C78C;
$text-secondary: #63687E;
$light-gray: #F6F6F6;
$sent-message-color: #1868FB;
$receive-message-color: #12C78C;
$popup-text-color: rgba(21, 38, 53, 1);
$placeholder-color: #C5C7D1;
$calendar-text-color: #666666;
$notification-save-color: #12C78C;

$status-bar-color: #00C4E1;
$status-bar-black: #171729;

$animation-time: 350ms;
