<section class="block table-section">

  <span class="big-bold">Budget requests</span>

  <div
    *ngFor="let request of requests"
    class="budget-request"
  >

    <div class="row"><b>From:</b> {{request.user}}</div>
    <div class="row"><b>Department:</b> {{request.department}}</div>
    <div class="row"><b>Amount:</b> {{request.amount}}</div>
    <div class="row"><b>Reason:</b> {{request.reason}}</div>

    <div class="buttons">

      <app-button
        [isCancelButton]="true"
        text="Decline"
        (clicked)="decline(request.id)"
      >
      </app-button>

      <app-button
        text="Accept"
        (clicked)="accept(request.id)"
      >
      </app-button>

    </div>


  </div>

  <div *ngIf="requests.length === 0">
    New budget requests are not done
  </div>

</section>
