<span class="dialog-title">{{material.name}}</span>

<section>
  <span>Available budget: {{availableBudget}}$</span>
  <span>Price for kg:{{material.price}}$</span>

  <div>
    <mat-slider
      thumbLabel
      min="1"
      step="1"
      aria-label="units"
      tickInterval="1000"
      [(value)]="kgToBuy"
      [max]="material.available"
      (valueChange)="calculatePrice()"
    ></mat-slider>

    <div class="min-max-bar">
      <span>1</span>
      <span>{{material.available}}</span>
    </div>
  </div>

  <div class="mat-fields-container">

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Kg to buy</mat-label>
        <input
          matInput
          type="number"
          min="1"
          [(ngModel)]="kgToBuy"
          [ngModelOptions]="{standalone: true}"
          (ngModelChange)="calculatePrice()"
        >
      </mat-form-field>
      kg
    </div>

    =

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <input
          matInput
          type="number"
          [disabled]="true"
          [(ngModel)]="price"
        >
      </mat-form-field>
      $
    </div>

  </div>

</section>

<app-button
  text="Buy"
  (clicked)="buyMaterial()"
></app-button>
