<section class="block table-section">

  <span class="big-bold">Market</span>

  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon svgIcon="filter"></mat-icon>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-filter
      [filterMetaInfo]="filterMetaInfo"
      (filterChanged)="onFilterChange($event)"
    ></app-filter>
  </mat-expansion-panel>

  <app-table
    [headers]="headers"
    [rows$]="materials$"
    [columnNames]="columnNames"
    [isMatIcon]="isMatIcon"
    [isMoney]="isMoney"
    [isAdminTable]="true"
    [getId]="getId"
    [rowUpsert]="materialUpsert"
    [deleteRows$]="deleteMaterials$"
    (addClicked)="onRowAddClick()"
    (rowClicked)="onRowClick($event)"
  ></app-table>

</section>
