<section class="block">

  <mat-icon
    svgIcon="no-color-right"
    class="left-icon"
    title="Previous"
    [class.disabled]="!isPrevClickable"
    (click)="onPrevClick()"
  ></mat-icon>

  <mat-icon
    svgIcon="no-color-right"
    class="right-icon"
    title="Next"
    [class.disabled]="!isNextClickable"
    (click)="onNextClick()"
  ></mat-icon>

  <span class="big-bold">Market</span>

  <div class="scale-container">

    <div
      class="general-production-info">

      <app-dropdown
        label="Factory"
        [isMultiple]="false"
        [getId]="getId"
        [getName]="getName"
        [elements]="factoriesToShow"
        [selectedElementId]="currentFactoryId"
        (valueChanged)="onFactoryChange($event)"
      ></app-dropdown>

      <app-dropdown
        label="Department"
        [isMultiple]="false"
        [getId]="getId"
        [getName]="getName"
        [elements]="departmentsToShow"
        [selectedElementId]="currentDepartmentId"
        (valueChanged)="onDepartmentChange($event)"
      ></app-dropdown>

    </div>

    <app-production-process
      *ngFor="let prodInfo of productionInfo"
      [productionInfo]="prodInfo"
    >
    </app-production-process>
  </div>

</section>
